# Private rendered copy only. Do not place credentials or hashes in this file.
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us
d-i time/zone string America/Detroit
d-i clock-setup/utc boolean true

d-i netcfg/choose_interface select auto
d-i netcfg/disable_autoconfig boolean true
d-i netcfg/get_ipaddress string 192.168.100.199
d-i netcfg/get_netmask string 255.255.255.0
d-i netcfg/get_gateway string 192.168.100.1
d-i netcfg/get_nameservers string 192.168.10.251 192.168.10.252
d-i netcfg/confirm_static boolean true
d-i netcfg/get_hostname string mail
d-i netcfg/get_domain string home.arpa

d-i passwd/root-login boolean false
d-i passwd/make-user boolean true
d-i passwd/user-fullname string Louis
d-i passwd/username string louis
d-i passwd/user-password-crypted password __TEMPORARY_PASSWORD_HASH__
d-i passwd/user-default-groups string audio cdrom video sudo

d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

d-i partman-auto/disk string /dev/vda
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/mount_style select uuid
d-i grub-installer/bootdev string /dev/vda

tasksel tasksel/first multiselect standard
d-i pkgsel/include string openssh-server sudo qemu-guest-agent ca-certificates curl
d-i pkgsel/upgrade select none
popularity-contest popularity-contest/participate boolean false
d-i finish-install/reboot_in_progress note

d-i preseed/late_command string in-target /usr/sbin/usermod -aG sudo louis; in-target /bin/sh -c "printf '%s\\n' 'PermitRootLogin no' > /etc/ssh/sshd_config.d/90-mail-core-root-login.conf"; in-target /bin/systemctl enable ssh qemu-guest-agent serial-getty@ttyS0.service
